.contactoImage {
  width: 100%;
  position: relative;
  top: 100px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.contactoInfo {
  position: relative;
  z-index: 100;
  bottom: 20px;
}

.contactoTitle {
  margin-inline-start: 13px;
  position: relative;
  bottom: 240px;
  h2 {
    font-size: 2.5rem;
    font-family: var(--fuente-titulo);
    color: var(--color-claro);
  }
}

.contactoSubTitle {
    background-color: var(--color-claro);
    border-radius: 20px 0 20px 0;
    margin-inline: 13px;
    margin-bottom: 16px;
    h2 {
      font-size: 2rem;
      font-family: var(--fuente-titulo);
    }
  }

  .contactoMap{
    width: calc(100% - 26px);
    height: 200px;
    margin-inline: 13px;
    margin-bottom: 13px;
    position: relative;
    overflow: hidden;
  }

  .contactoText{
    h5{
        text-align: center;
        color: var(--color-claro);
        font-family: var(--fuente-cuerpo);
        font-weight: 250;
    }
    span{
        color: var(--color-detalles);
    }
  }

  .contactoBoton{
    display: flex;
    align-items: center;
    font-family: var(--fuente-cuerpo);
    color: var(--color-claro);
    font-weight: 800;
    background-color: var(--color-detalles);
    border:solid 2px ;
    border-color: var(--color-detalles);
    border-radius: 1.75rem;
    padding-left: 30px;
    padding-right: 22px;
    .bi.bi-arrow-right-short{
      font-size: 30px;
    }
  }