.admin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-family: var(--fuente-cuerpo);
  font-weight: bold;
  color: var(--color-claro)!important;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--color-claro);
  border-radius: 4px;
  box-shadow: 0 0 5px var(--color-detalles);
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--color-detalles);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.7); 
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--color-detalles);
  box-shadow: 0 0 8px var(--color-detalles); 
}

.form-group select option:hover,
.form-group select option:checked {
  background-color: var(--color-detalles-hover); 
}

.form-group select {
  background-color: var(--color-claro); 
  border: 1px solid var(--color-claro);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form-switch {
  display: flex;
  align-items: center;
}

.form-switch input {
  margin-left: 10px;
  transform: scale(1.5);
}

.form-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--color-detalles);
  color: var(--color-claro);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-button:hover {
  background-color:var(--color-detalles-hover);
}

.admin-form,
.admin-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.categoryTitle {
  h3 {
    font-size: 2rem;
    font-family: var(--fuente-titulo);
    color: var(--color-claro);
  }
}

.card {
  margin-bottom: 20px;
}

.card img {
  object-fit: cover;
  height: 150px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-swal-popup {
  background: var(--color-claro);
  border: var(--color-fondo);
}

.custom-swal-title {
  font-family: var(--fuente-cuerpo);
}

.custom-confirm-button {
  background-color: var(--color-detalles);
  color: var(--color-claro);
}

.custom-cancel-button {
  background-color: #6C757D;
  color: var(--color-claro);
}
