.categorySelect {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: transparent;
  color: var(--color-claro);
  border: solid 2px;
  border-color: var(--color-detalles);
  border-radius: 0.5rem;
  font-family: var(--fuente-cuerpo);
}

.categorySelect:focus {
  background-color: var(--color-fondo);
  color: var(--color-claro);
}