.user-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente-cuerpo);
    padding: 5px;
    }
    .user-profile-titulo{
      font-family: var(--fuente-titulo);
      text-align: center;
    }
    .user-profile-card {
      width: 100%;
      position: relative;
      overflow: hidden;
      margin: 5px auto;
      padding: 5px;
    }
    .user-profile-content {
      position: relative;
      z-index: 1;
      color: var(--color-claro);
      padding: 1rem;
    }
    .user-profile-texto {
    text-align: left;
    }
    .botonesResume{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--fuente-cuerpo);
      font-size: 18px;
    .user-profile-boton-guardar {
      background-color: var(--color-detalles);
      border: solid 2px var(--color-claro);
      border-radius: 1rem;
      padding-inline: 15px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-weight: 800;
      margin-bottom: 10px;
      }
    .user-profile-boton-cancelar {
      background-color: transparent;
      border: solid 2px var(--color-claro);
      border-radius: 1rem;
      padding-inline: 26px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-weight: 800;
      background-color: var(--color-claro);
      }
  }
    .user-profile-boton-editar {
text-align: right;
    }

