.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuente-cuerpo);
}

.registro-titulo {
  font-family: var(--fuente-titulo);
}

.register-card {
  width: 85%;
  border-radius: 20px 0 20px 0;
  box-shadow: 0 0 0.3rem 0.3rem var(--color-claro);
  padding-inline: 15px;
}

.register-content {
  color: var(--color-claro);
  padding-top: 5px;
  padding-bottom: 5px;
}

.login {
  color: var(--color-claro);
}

.login-link {
  color: var(--color-detalles);
}



@media (width >= 576px) {
  .register-card {
    width: 65%;
  }
}
