.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuente-cuerpo);
  padding: 10px;
  }
  
  .registro-titulo{
    font-family: var(--fuente-titulo);
  }
  
  .register-card {
    border-radius: 0.75rem;
    box-shadow: 0 0 0.5rem 0.5rem var(--color-claro);
    width: 90%;
    position: relative;
    overflow: hidden; /* Ocultar contenido que sobrepase los bordes */
    margin: 20px auto; /* Centra la tarjeta */
    padding: 20px;
    box-sizing: border-box;
  }
  
/*
  .register-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
  }
  */

  .register-content {
    position: relative; /* Asegura que el contenido esté por encima de la imagen */
    z-index: 1; /* Trae el contenido al frente */
    color: var(--color-claro);
    padding: 1rem;
  }

  .login {
    color: var(--color-claro);
  }

  .login-link{
    color: var(--color-detalles);
  }

  .register-btn {
    border: solid 1px var(--color-detalles) !important;
    color: var(--color-detalles);
  }
  
  /*
  .alert-block{
      background-color: #23cab969;
      border-radius: 0.5rem;
      font-size: 13px;
  }
  
  .input-group {
      display: flex;
    }
    
    .input-group .form-control {
      flex: 1;
    }
    
    .input-group .btn {
      margin-left: -1px; 
    }
*/
   

