@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #ffffff;
}

.titleFont{
  font-family:'Bowlby One SC', sans-serif;
}

.bodyFont{
  font-family:'Nunito Sans', sans-serif ;
}