@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.titleFont{
  font-family:'Bowlby One SC', sans-serif;
}